torch
torchvision
efficientnet-pytorch
timm
numpy
pandas
Pillow
scikit-learn
matplotlib
seaborn
opencv-python
mlflow
hydra-core
omegaconf
fastapi
uvicorn
python-multipart
pydantic
onnx
onnxruntime
onnxscript
kaggle
tqdm
httpx
loralib
streamlit>=1.31.0